.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
  /* margin-right: 3rem; */
}

.listadoWrapper {
  max-width: 850px;
  overflow-y: scroll;
  /* max-height: 579px; */
  margin: 0 auto;
  /* overflow: hidden; */
}

.listadoWrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.listadoWrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.kirk-tabs {
  border-bottom: none !important;
}

.kirk-tablist-wrapper {
  width: 600px !important;
  /* width: 134.656px !important;
  left: 320px !important; */
  background-color: #fff !important;
  border-radius: 11px !important;
  padding-inline: 19px !important;
}

.kirk-tablist {
  /* border-radius: 19px !important; */
  height: 65px !important;
}