.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
  /* margin-right: 3rem; */
}

.listadoWrapper {
  max-width: 850px;
  overflow-y: scroll;
  max-height: 630px;
  margin: 0 auto;
  /* overflow: hidden; */
}

.listadoWrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.listadoWrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}