.footer-container {
  background-color: #172A3A;
  padding: 2rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr {
  width: 90%;
  /* Set the hr color */
  color: #333;  /* old IE */
  background-color: #333;  /* Modern Browsers */
}

.row.copy {
  width: 90%;
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: stretch;
}

.footer-a{
  float: left;
}

.footer-b{
  float: right;
}

.text-align {
  text-align: right;
}

.ul-container {
  list-style-type: none;
}

.li-footer {
  margin: 10px 0;
}

footer * {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.left-up-section {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  align-items: stretch;
}
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 15em;
}

.row {
  padding: 1em 1em;
}

.about p {
  text-align: justify;
  line-height: 2;
  margin: 0;
}

.row.primary {
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: stretch;
}



.website-copyright {
  color: #fff;
  margin-bottom: 16px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@media screen and (max-width: 820px) {
  .footer-links {
    padding-top: 2rem;
  }

  .footer-input {
    width: 100%;
  }

  .footer-link-wrapper {
    flex-direction: column;
  }

  .social-media-wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
}
