.footer-container {
  background-color: #172A3A;
  padding: 2rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mapaDelSitio {
  width: 220px !important;
}

hr {
  width: 90%;
  /* Set the hr color */
  color: #333;  /* old IE */
  background-color: #333;  /* Modern Browsers */
}

.row.copy {
  width: 90%;
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: stretch;
}

.footer-a{
  float: left;
}

.footer-b{
  float: right;
}

.text-align {
  text-align: right;
}

.ul-container {
  list-style-type: none;
}

.li-footer {
  margin: 10px 0;
}

footer * {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 15em;
}

.row {
  padding: 1em 1em;
}

.about p {
  text-align: justify;
  line-height: 2;
  margin: 0;
}

.row.primary {
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: stretch;
}



.website-copyright {
  color: #fff;
  margin-bottom: 16px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@media screen and (max-width: 1050px) {
  .mapaContacto {
    grid-template-columns: 0 !important;
  }

  .column {
    min-height: 10em !important;
  }
}
